<div class='logo'>
  <h1>Report Page</h1>
</div>


  <ul class="custom-nav nav nav-tabs">
     <li class="">
       <%= link_to "Report", root_path %>
     </li>
     <li class="">
       <%= link_to "Students", students_path %>
     </li>

     <li class="">
       <%= link_to "Tests", tests_path, id: "new_post_from_nav" %>
     </li>

     <li class="">
       <%= link_to "Marks", marks_path %>
     </li>
     <li class="">
       <%= link_to "Students", courses_path %>
     </li>
  </ul>
